<footer>
    <div class="footer-container">
      <div class="footer-column">
        <h4>ABU Course Hub</h4>
        <p>Email: <a href="mailto:abucoursehub@abu.edu.ng">abucoursehub@abu.edu.ng</a></p>
        <p>Phone: <a href="tel:+2348129709392">(+234) 8129709392</a></p>
        <p>Department of Computer Engineering<br>Ahmadu Bello University, Zaria</p>
      </div>
  
      <div class="footer-column">
        <h4>Project Hub</h4>
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Sponsor a Project</a></li>
          <li><a href="#">Add a Project</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h4>Organisation</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Blogs</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">License Agreement</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>Join our newsletter to stay updated with our latest projects and events.</p>
      <form action="#" method="post">
        <input type="email" name="email" placeholder="Your email" required>
        <button type="submit">Subscribe</button>
      </form>
      <p>© 2024 ABU Course Hub. All rights reserved.</p>
    </div>
  </footer>
  
  </body>
  <script src="/js/main.js"></script>
  </html>
  