<footer>
    <a href="/donate">Donate</a>    
    <a href="https://github.com/2bit2bit/Alticles" target="_blank">github repo</a>    
</footer>
      
</body>
<script src="/js/main.js"></script>
</html>