main {
    max-width: 55rem;
   margin:auto;
background-color: white;

}

.cover-photo {
    width: 100%;
    height: 16rem;
    margin: auto;
    object-fit: cover;
}

.details {
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0;
    color: rgb(116, 116, 116);
    
}

.details span {
    padding: 0 8px;
    display: inline-block;
}

.description {
    background-color: #eeeeee;
    margin: 0;
    padding: 1rem;
}
.body {
    padding-top: 1rem;
}