article {
    width: 60%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    background-color: rgba(255, 255, 255, 0.658);
    margin:  4px auto;
    padding: 8px;
}


article h3 {
    margin: 0 0;
}

article p {
    margin:  8px 0;
}

article .details {
    color: rgb(63, 63, 63);
}

article .details span {
    padding-right: 1rem;
}