a.article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  padding: 16px;
  max-width: 65rem;
  height: 12rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  background-color: rgb(255, 255, 255);
  margin: 24px auto;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.096);
}

a.article:hover {
  box-shadow: 0px 1px 5px 6px rgba(0, 0, 0, 0.034);
  background-color: #eeeeee;
}

a.article img {
  width: 100%;
  height: calc(12rem - 8px);
  object-fit: cover;
}

a.article .detail {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;
  height: calc(12rem - 8px);
}

a.article .detail h2,
a.article .detail p {
  margin: 0;
  white-space: wrap;
  overflow: hidden;
}

a.article .detail p {
  color: #7a7a7a;
}

a.article .detail .details span {
  margin-right: 8px;
  color: #7a7a7a;
}

@media only screen and (max-width: 600px) {
  a.article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 24rem;
  }

  a.article .detail {
    height: calc(12rem - 16px);
  }
}

.search {
  margin: auto;
  width: 100%;
  max-width: 30rem;
  display: flex;
  align-items: center;
}

.search input {
  padding: 8px;
  width: 70%;
  border-radius: 8px 0px 0px 8px;
  outline: none;
  border: 1px solid #7a7a7a;
}

.search input:hover,
.search input:focus {
  outline: none;
  border: 1px solid black;
}

.search button {
  width: 28%;
  padding: 8px;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #7a7a7a;
}

.search button:hover {
  border: 1px solid black;
  background-color: white;
}

.pagination {
  display: flex;
  justify-content: space-around;
}

.pagination a {
  color: black;
  text-decoration: none;
  background-color: white;
  font-weight: bold;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #0000005e;
}

.pagination a:hover,
.pagination a:active {
  color: black;
  background-color: #eeeeee;
  border: 1px solid black;
}
