

h4 {
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  color: grey;
  text-align: center;
}

.signup-link {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

.auth-form {
  margin: auto;
  margin-top: 2rem;
  max-width: 27rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.788);
}

.auth-form > * {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.auth-form input {
  margin-top: 4px;
  font-size: medium;
  border-radius: 4px;
  border: 1px solid #1c1c1c;
  padding: 8px;
}

.auth-form input:focus {
  outline: none;
  border: 1px solid rgb(190, 228, 255);
}

.auth-form button {
  background-color: black;
  color: white;
  padding: 1rem;
  border: none;
  width: 8rem;
  font-size: large;
  align-items: center;
  justify-content: center;
  transition: transform 2s, background-color 0.3s, border-radius 0.3s;
}

.auth-form button:hover,
.auth-form button:active {
  background-color: #1c1c1c;
  border-radius: 1rem;
}
