* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #eeeeee;
  position: relative;

}

.mobile-nav,
.mobile-nav_toggle {
  display: none;
}

header {
  width: 100%;
  /* position: fixed; */
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 4px 4px #1c1c1c10;
}
header .logo {
  width: 10%;
  height: 100%;
  min-width: 8rem;
  max-width: 10rem;
  margin-right: 4px;
  display: flex;
}

header .logo img {
  width: 100%;
}

header nav {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header ul li a {
  color: #1c1c1c;
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
  padding: 1rem;
  transition: transform 2s, background-color 0.3s;
  display: block;
  border: 1px solid transparent;
}

header ul li a:hover,
header ul li a:active,
header ul li a.active {
  border-bottom: 1px solid black;
}

header ul .sign-up {
  color: white;
  background-color: #1c1c1c;
}

header ul .sign-up.active {
  color: #1c1c1c;
  background-color: white
}

a.sign-up:hover {
  color: #1c1c1c;
  background-color: white;
}

.logout {
  background-color: white;
  color: #1c1c1c;
  padding: 1rem;
  border: none;
  font-weight: bold;
  font-size: large;
  align-items: center;
  justify-content: center;
  transition: transform 2s, background-color 0.3s;
}

.logout:hover,
.logout:active {
  color: #1c1c1c;
  background-color: #eeeeee;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  .mobile-nav_toggle {
    display: flex;
    justify-content: flex-end;
  }
  .mobile-nav_toggle-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }

  .mobile-nav_toggle-btn img {
    width: 40px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  .mobile-nav {
    width: 80%;
    max-width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    right: -20rem;
    z-index: 100;
    background: white;

    display: flex;
    flex-direction: column;
    transition: 0.7s;

    box-shadow: 0px 0px 4px 4px #1c1c1c10;
  }

  .mobile-nav_close {
    margin: 1rem 1rem 0 1rem;
    pad: 1rem;
    font-size: xx-large;
    width: 4rem;
    align-self: right;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .mobile-nav_close:hover,
  .mobile-nav_close:active {
    color: white;
    background-color: #eeeeee;
  }

  .mobile-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-nav ul li {
    display: block;
    width: 100%;
  }
  .mobile-nav ul li a {
    text-align: center;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    padding: 1rem;
    transition: transform 2s, background-color 0.3s;
  }

  .mobile-nav ul li a:hover,
  .mobile-nav ul li a:active,
  .mobile-nav ul li a.active {
    background-color: #eeeeee;
  }

  .mobile-nav .sign-up {
    color: white;
    background-color: #1c1c1c;
  }

  .mobile-nav .sign-up.active {
    color: #1c1c1c;
    background-color: #eeeeee;
  }

  .mobile-nav a.sign-up:hover {
    color: #1c1c1c;
    background-color: #eeeeee;
  }

  .sign-in__login form,
  .logout {
    width: 100%;
  }
}

main {
  padding: 1rem;
  padding-bottom: 4rem;
}

footer {
  background-color: #1c1c1c;
  text-align: center;
  color: white;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.errorMessage {
  background-color: rgba(255, 0, 0, 0.151);
  padding: 4px;
  width: 16rem;
  margin: 4px auto;
  border: 1px solid rgba(255, 0, 0, 0.288);
  color: rgb(0, 0, 0);
  text-align: center;
  box-shadow: 2px 2px 2px #00000042;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

footer a:hover,
footer a:active {
  color: #585858
}