article {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 16px;
  padding: 4px;
  max-width: 65rem;
  height: 12rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  background-color: rgb(255, 255, 255);
  margin: 24px auto;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.096);
}

article img {
  width: 100%;
  height: calc(12rem - 8px);
  object-fit: cover;
}

article .detail {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;
  height: calc(12rem - 8px);
}

.detail h3,
.detail p {
  margin: 0;
    white-space: wrap;
    overflow: hidden;
}


.details span {
  margin-right: 8px;
  color: #7a7a7a;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btns form {
  display: flex;
  gap: 4px;
}

.btn,
.edit-article,
.delete-btn {
  /* float: right; */
  background-color: black;
  color: white;
  padding: 4px;
  margin: 4px 4px;
  border: none;
  width: 8rem;
  font-size: large;
  align-items: center;
  justify-content: center;
  transition: transform 2s, background-color 0.3s, border-radius 0.3s;
}

a.edit-article {
  text-decoration: none;
  padding: 4px 1rem;
}

.delete-btn {
  background-color: red;
}

.btn:hover,
.btn:active,
.edit-article:hover,
.edit-article:active,
.delete-btn:hover,
.delete-btn:active {
  background-color: #1c1c1c;
  border-radius: 2rem;
}


@media only screen and (max-width: 600px) {
  article {
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 4fr 4fr 1fr; */
    display: flex;
    flex-direction: column;
    height: auto;
        }

  .btns {
    flex-direction: row;
    flex-wrap: wrap;
  }
}