<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AltBlog</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="mobile-nav">
    <button class="mobile-nav_close">X</button>

    <nav>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Articles</a></li>
        </ul>
        <ul class="sign-in__login">
          <li><a href="#">Sign in</a></li>
          <li><a class="sign-up" href="#">Sign Up</a></li>
        </ul>
      </nav>
  </div>


    <header>
        <a href="index.html" class="logo">
          <img src="img/alticle_logo.jpg" alt="alticle_logo" /><br />
        </a>
  
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Articles</a></li>
          </ul>
          <ul class="sign-in__login">
            <li><a href="#">Sign in</a></li>
            <li><a class="sign-up" href="#">Sign Up</a></li>
          </ul>
        </nav>

        <div class="mobile-nav_toggle">
          <button class="mobile-nav_toggle-btn">
            <img src="img/menu.svg" alt="" />
          </button>
        </div>
      </header> 
</body>
<script src="js/main.js"></script>
</html>